:root {
  --primary: #5b2c83;
  --secondary: #8e44ad;
  --gold: #d4af37;
  --white: #ffffff;
  --dark: #222;
}


body {
  font-family: 'Poppins', sans-serif;
  color: var(--dark);
  background:white;
}


h1,h2,h3 {
  font-family:'Playfair Display', serif;
}


header {
  background:white;
  box-shadow:0 4px 15px rgba(0,0,0,.08);
}


nav a {
  color:#5b2c83;
  font-weight:600;
}


button {

background:
linear-gradient(
135deg,
#5b2c83,
#8e44ad
);

color:white;

border-radius:30px;

padding:15px 35px;

}


.hero {

background:
linear-gradient(
rgba(91,44,131,.75),
rgba(91,44,131,.75)
);

}


.card {

border-radius:20px;

box-shadow:
0 10px 30px rgba(91,44,131,.15);

}